body{
    flex-wrap: wrap;
    flex-direction: row;
    background: rgb(172, 172, 172);
    text-align: center;
    align-items: center;
}
.rysunek {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  width: 800px;
  height: 300px;
  margin: 20px auto 0;
}
.renifer1{
   margin-top: 20px;
}
.renifer2{
   margin-top: 25px;
   margin-left: -40px;
}
.renifer3{
   margin-top: 0px;
   margin-left: 20px;
}
.renifer4{
   margin-top: 5px;
   margin-left: -40px;
}
.renifer5{
   margin-top: -20px;
   margin-left: 20px;
}
.renifer6{
   margin-top: -15px;
   margin-left: -40px;
}
.upszęż1{
    position: absolute;
    margin-top: 10px;
    margin-left: 177px;
}
.Mikołaj{
    margin-top: 10px;
    margin-right: 30px;
}
.renifery1{
    display: flex;
    flex-direction: row;
    animation: anim 0.5s infinite;
}
.renifery2{
    display: flex;
    flex-direction: row;
    animation: anim1 0.5s infinite;
}
@keyframes anim{
    0%{transform: translate(0px,0);}
    50%{transform: translate(0px,20px);}
    100%{transform: translate(0px, 0);}
}
@keyframes anim1{
    0%{transform: translate(0px,0);}
    50%{transform: translate(0px,-20px);}
    100%{transform: translate(0px, 0);}
}
.płatek_śniegu{
margin-top: -40px;
margin-left: 300px;
position: absolute;
animation: spadanie 1s infinite;
}
@keyframes spadanie{
    0%{transform: translate(1200px,-40px);}
    100%{transform: translate(-2640px,400px);} 
}
.płatek_śniegu1{
margin-top: -40px;
margin-left: 900px;
position: absolute;
animation: spadanie1 1.1s infinite;
}
@keyframes spadanie1{
    0%{transform: translate(1100px,-40px);}
    100%{transform: translate(-2420px,250px);} 
}
.płatek_śniegu2{
margin-top: -40px;
margin-left: 700px;
position: absolute;
animation: spadanie2 1.2s infinite;
}
@keyframes spadanie2{
    0%{transform: translate(1300px,-40px);}
    100%{transform: translate(-2640px,250px);} 
}
.płatek_śniegu3{
margin-top: -40px;
margin-left: 100px;
position: absolute;
animation: spadanie3 0.8s infinite;
}
@keyframes spadanie3{
    0%{transform: translate(850px,-40px);}
    100%{transform: translate(-1870px,250px);} 
}
.płatek_śniegu4{
margin-top: -40px;
margin-left: 500px;
position: absolute;
animation: spadanie4 0.7s infinite;
}
@keyframes spadanie4{
    0%{transform: translate(800px,-40px);}
    100%{transform: translate(-1760px,250px);} 
}
.płatek_śniegu5{
margin-top: -40px;
margin-left: 1000px;
position: absolute;
animation: spadanie5 1s infinite;
}
@keyframes spadanie5{
    0%{transform: translate(900px,-40px);}
    100%{transform: translate(-2000px,250px);} 
}
.płatek_śniegu6{
margin-top: -40px;
margin-left: 200px;
position: absolute;
animation: spadanie6 2.2s infinite;
}
@keyframes spadanie6{
    0%{transform: translate(2000px,-40px);}
    100%{transform: translate(-4400px,800px);} 
}
.płatek_śniegu7{
margin-top: -40px;
margin-left: 600px;
position: absolute; 
animation: spadanie7 3.2s infinite; 
}
@keyframes spadanie7{
    0%{transform: translate(3000px,-40px);}
    100%{transform: translate(-6600px,780px);} 
}
.płatek_śniegu8{
margin-top: -40px;
margin-left: 300px;
position: absolute;
animation: spadanie8 2.2s infinite;
}
@keyframes spadanie8{
    0%{transform: translate(2500px,-40px);}
    100%{transform: translate(-5500px,600px);} 
}
.płatek_śniegu9{
margin-top: -40px;
margin-left: 550px;
position: absolute;
animation: spadanie9 2s infinite;    
}
@keyframes spadanie9{
    0%{transform: translate(2200px,-40px);}
    100%{transform: translate(-4840px,470px);} 
}
.płatek_śniegu10{
margin-top: -40px;
margin-left: 820px;
position: absolute;
animation: spadanie10 1.8s infinite;    
}
@keyframes spadanie10{
    0%{transform: translate(1900px,-40px);}
    100%{transform: translate(-4180px,500px);} 
}
.płatek_śniegu11{
margin-top: -40px;
margin-left: 50px;
position: absolute; 
animation: spadanie11 1.6s infinite;   
}
@keyframes spadanie11{
    0%{transform: translate(1700px,-40px);}
    100%{transform: translate(-3740px,500px);} 
}
.płatek_śniegu12{
margin-top: -40px;
margin-left: 1100px;
position: absolute;
animation: spadanie12 1.4s infinite;     
}
@keyframes spadanie12{
    0%{transform: translate(1800px,-40px);}
    100%{transform: translate(-3960px,470px);} 
}
.płatek_śniegu13{
margin-top: -40px;
margin-left: 350px;
position: absolute;
animation: spadanie13 1.3s infinite;    
}
@keyframes spadanie13{
    0%{transform: translate(1600px,-40px);}
    100%{transform: translate(-3520px,690px);} 
}
.płatek_śniegu14{
margin-top: -40px;
margin-left: 240px;
position: absolute;
animation: spadanie14 1.6s infinite;     
}
@keyframes spadanie14{
    0%{transform: translate(1900px,-40px);}
    100%{transform: translate(-4280px,680px);} 
}
.płatek_śniegu15{
margin-top: -40px;
margin-left: 950px;
position: absolute; 
animation: spadanie15 1.5s infinite;     
}
@keyframes spadanie15{
    0%{transform: translate(1400px,-40px);}
    100%{transform: translate(-3080px,465px);} 
}
p{
    position: absolute;
    margin-top: 450px;
    margin-left: 100px;
    font-size: larger;
    font-family: cursive;
}
.kartka{
    margin-left: -100px;
}